<a href="https://colab.research.google.com/github/Kali-Raut/EDS-ACTIVITY/blob/main/file_Operations_12_4_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
file= open('/content/StudentData - Sheet1.csv','r')
print(file.read())
file.close()

Roll No,Marks ,Year
1,50,FY
2,23,FY
3,45,FY
4,50,FY
5,23,FY
6,32,SY
7,25,SY
8,15,SY
9,24,SY
10,36,SY

In [ ]:
file=open('/content/StudentData - Sheet1.csv','w')
msg='12,"priya",34,'
file.write(msg)
file=open('/content/StudentData - Sheet1.csv','r')
print(file.read())
file.close()

12,"priya",34,

In [ ]:
file=open('/content/StudentData - Sheet1.csv','a')
ola='13,"Kali",24'
file.write(ola)
file.close()

In [ ]:
import csv
file= open('/content/STUDENT MARKS DATA - Sheet1.csv','r')
data=list(csv.reader(file,delimiter=','))
file.close()
print(data)
print(type(data))
print(data[0])

[['Roll No', 'Marks', 'Year'], ['1', '45', 'FY'], ['2', '34', 'SY'], ['3', '23', 'FY'], ['4', '54', 'SY'], ['5', '23', 'SY'], ['6', '65', 'FY'], ['7', '76', 'FY'], ['8', '45', 'FY'], ['9', '56', 'SY'], ['10', '64', 'SY']]
<class 'list'>
['Roll No', 'Marks', 'Year']

In [ ]:
import csv
file=open('/content/StudentData - Sheet1.csv','r')
data1=list(csv.reader(file,delimiter=','))
file.close()
print(data1)

[['12', 'priya', '34', '13', 'Kali', '24']]

In [ ]:
import csv
file=open('/content/PLACEMENT.csv','r')
data2=list(csv.reader(file,delimiter=','))
file.close()
print(data2)

[['PRN', 'PACKAGE'], ['60056', '100000'], ['60064', '200000'], ['60068', '300000'], ['60078', '400000'], ['60084', '500000']]

In [ ]:


print(int(data[1][1])+int(data[2][1]))

79

In [ ]:
sum=0
for i in range(1,len(data)):
  sum=int(sum)+int(data[i][1])
print('The sum of marks is ',sum)

The sum of marks is  485

In [ ]:
print(len(data))

11

In [ ]:
import csv
file= open('/content/student name - Sheet1.csv','r')
data1=list(csv.reader(file,delimiter=','))
file.close()
print(data1)
print(type(data1))
print(data[0])

FileNotFoundError: ignored

In [ ]:
data+data1

[['Roll No', 'Marks', 'Year'],
 ['1', '45', 'FY'],
 ['2', '34', 'SY'],
 ['3', '23', 'FY'],
 ['4', '54', 'SY'],
 ['5', '23', 'SY'],
 ['6', '65', 'FY'],
 ['7', '76', 'FY'],
 ['8', '45', 'FY'],
 ['9', '56', 'SY'],
 ['10', '64', 'SY'],
 ['Roll No', 'Marks', 'Year'],
 ['1', '45', 'FY'],
 ['2', '34', 'SY'],
 ['3', '23', 'FY'],
 ['4', '54', 'SY'],
 ['5', '23', 'SY'],
 ['6', '65', 'FY'],
 ['7', '76', 'FY'],
 ['8', '45', 'FY'],
 ['9', '56', 'SY'],
 ['10', '64', 'SY']]

In [ ]:
mylist=[]
mylist.append(data[0])
mylist[0].insert(3,data1[1][1])
print(mylist)

[['Roll No', 'Marks', 'Year', 'Aman', 'Name', '101', 'Aman']]

In [ ]:
print(data1)

[['Roll No.', 'Name'], ['101', 'Aman'], ['102', 'Suhas'], ['103', 'Priya']]

In [ ]:
mylist=[]
for i in range(10):
  mylist.append(data1[i]+data2[i])

NameError: ignored

In [ ]:
mylist[]
for i in range(10):
  data[i].extend(data2[i])

SyntaxError: ignored

In [ ]:
import csv
file= open('/content/ID & salary - Sheet1.csv','r')
data2=list(csv.reader(file,delimiter=','))
print(data2)
file.close()

[['ID', 'salary'], ['480', '60000'], ['481', '40000'], ['482', '25000'], ['483', '21000'], ['484', '35000'], ['485', '60000'], ['486', '15000']]

In [ ]:
import csv
file= open('/content/posts - Sheet1.csv','r')
data3=list(csv.reader(file,delimiter=','))
print(data3)
file.close()

[['Employee', 'Position'], ['cal', 'manager'], ['leon', 'sub-manager'], ['cap', 'engineer'], ['jake', 'manager'], ['shiro', 'sub-manager'], ['pluto', 'engineer'], ['sam', 'engineer']]

In [ ]:
mylist=[]
for i in range(10):
  mylist.append(data2[i]+data3[i])
  print(mylist)
  file.close()

[['ID', 'salary', 'Employee', 'Position']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager'], ['481', '40000', 'leon', 'sub-manager']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager'], ['481', '40000', 'leon', 'sub-manager'], ['482', '25000', 'cap', 'engineer']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager'], ['481', '40000', 'leon', 'sub-manager'], ['482', '25000', 'cap', 'engineer'], ['483', '21000', 'jake', 'manager']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager'], ['481', '40000', 'leon', 'sub-manager'], ['482', '25000', 'cap', 'engineer'], ['483', '21000', 'jake', 'manager'], ['484', '35000', 'shiro', 'sub-manager']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager'], ['481', '40000', 'leon', 'sub-manager'], ['482', '25000', 'cap', 'engineer'], ['483', '21000', 'jake', 'manager'], ['484', '35000', 'shiro', 'sub-manager'], ['485', '60000', 'pluto', 'engineer']]
[['ID', 'salary', 'Employee', 'Position'], ['480', '60000', 'cal', 'manager'], ['481', '40000', 'leon', 'sub-manager'], ['482', '25000', 'cap', 'engineer'], ['483', '21000', 'jake', 'manager'], ['484', '35000', 'shiro', 'sub-manager'], ['485', '60000', 'pluto', 'engineer'], ['486', '15000', 'sam', 'engineer']]

IndexError: ignored

In [ ]:

sal=[]
for i in range(len(mylist)):
  sal.append(int(mylist[i][1]))
  print(min(sal))

60000
40000
25000
21000
21000
21000
15000