<a href="https://colab.research.google.com/github/Kali-Raut/EDS-ACTIVITY/blob/main/list_functions_20_04_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
file= open('/content/Employee Data - Sheet1.csv','r')
data1=list(csv.reader(file,delimiter=','))
print(data1)
file.close()

[['Name', 'Position'], ['Aman', 'Sub-Manager'], ['Sam', 'Sub-Manager'], ['Jake', 'Manager'], ['Leon', 'Engineer'], ['Peter', 'Engineer'], ['Amili', 'Sub-Manager'], ['Copper', 'Manager'], ['Kira', 'Engineer']]

In [ ]:
import csv
file= open('/content/empoyee salary - Sheet1.csv','r')
data2=list(csv.reader(file,delimiter=','))
print(data2)
file.close()

[['ID', 'Salary'], ['480', '20000'], ['481', '25000'], ['482', '35000'], ['483', '80000'], ['484', '70000'], ['485', '25000'], ['486', '45000'], ['487', '15000']]

In [ ]:
mylist=[]
for i in range(len(data1)):
  mylist.append(data1[i]+data2[i])
print(mylist)

[['Name', 'Position', 'ID', 'Salary'], ['Aman', 'Sub-Manager', '480', '20000'], ['Sam', 'Sub-Manager', '481', '25000'], ['Jake', 'Manager', '482', '35000'], ['Leon', 'Engineer', '483', '80000'], ['Peter', 'Engineer', '484', '70000'], ['Amili', 'Sub-Manager', '485', '25000'], ['Copper', 'Manager', '486', '45000'], ['Kira', 'Engineer', '487', '15000']]

In [ ]:
sal=[]
for i in range(1,len(mylist)):
   sal.append(int(mylist[i][2]))
print("Addition of sal is",sum(sal))

Addition of sal is 3868

In [ ]:
l=len(mylist)
sal=[]
for i in range(1,l):
   sal.append(int(mylist[i][3]))
print("Maximum sal is ",max(sal))

Maximum sal is  80000

In [ ]:
l=len(mylist)
sal=[]
for i in range(1,l):
   sal.append(int(mylist[i][3]))
print("Minimum sal is ",min(sal))

Minimum sal is  15000

Lamda Functions

In [ ]:
#x is the name of finction
x=lambda a:a+10
print(x(2))

12

In [ ]:
x=lambda a:a*a
print(x(5))

25

In [ ]:

mylist.sort(key=lambda x: x[1])
print(mylist)

[['Kira', 'Engineer', '487', '15000'], ['Leon', 'Engineer', '483', '80000'], ['Peter', 'Engineer', '484', '70000'], ['Copper', 'Manager', '486', '45000'], ['Jake', 'Manager', '482', '35000'], ['Name', 'Position', 'ID', 'Salary'], ['Aman', 'Sub-Manager', '480', '20000'], ['Amili', 'Sub-Manager', '485', '25000'], ['Sam', 'Sub-Manager', '481', '25000']]

In [ ]:
#sort the merged list based on name
mylist.sort(key=lambda x: x[0])
print(mylist)

[['Aman', 'Sub-Manager', '480', '20000'], ['Amili', 'Sub-Manager', '485', '25000'], ['Copper', 'Manager', '486', '45000'], ['Jake', 'Manager', '482', '35000'], ['Kira', 'Engineer', '487', '15000'], ['Leon', 'Engineer', '483', '80000'], ['Peter', 'Engineer', '484', '70000'], ['Sam', 'Sub-Manager', '481', '25000']]

In [ ]:
mylist.pop(5)

['Name', 'Position', 'ID', 'Salary']

In [ ]:

mylist.sort(key=lambda x:int(x[3]))
print(mylist)

[['Kira', 'Engineer', '487', '15000'], ['Aman', 'Sub-Manager', '480', '20000'], ['Sam', 'Sub-Manager', '481', '25000'], ['Amili', 'Sub-Manager', '485', '25000'], ['Jake', 'Manager', '482', '35000'], ['Copper', 'Manager', '486', '45000'], ['Peter', 'Engineer', '484', '70000'], ['Leon', 'Engineer', '483', '80000'], ['a', 'Engineer', '480', '120000']]

In [ ]:
mylist.append(['a','Engineer','480','120000'])

In [ ]:
#sort the merged list based on salary and display the first five highest salary
#highest paid salary employee details
mylist.sort(key=lambda x:int(x[3]),reverse=True)

for i in range(5):
  print(mylist[i])

['a', 'Engineer', '480', '120000']
['a', 'Engineer', '480', '120000']
['Leon', 'Engineer', '483', '80000']
['Peter', 'Engineer', '484', '70000']
['Copper', 'Manager', '486', '45000']